body {
  background-color: #313146;
}
.App {
  padding: 5em;
  margin-left: 30%;
  margin-right: 15%;
}

.Intro {
  background: grey;
  
}

h1, h3, h4, p {
  color: white;
  display: block;
}

ul {
  list-style: none;
}

li {
  color: white;
}

a {
  padding: 2rem;
}

a:visited {
  color: greenyellow;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
